.body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

h1, h2 {
    font-weight: 200;
    font-size: 80px;
    color: rgb(87, 87, 87);
    padding-bottom: 5vh;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue';
}

.sectiontitle {
    font-weight: 200;
    font-size: 40px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.titleproject {
    font-weight: 200;
    font-size: 80px;
    padding-top: 5rem;
}

p {
    font-family: Arial;
    font-size: 17px;
    color: rgb(87, 87, 87);
}

li {
    font-family: Arial;
    font-size: 17px;
    color: rgb(87, 87, 87);
}

ul {
    padding-left: 0rem;
  }

.primary {
    background-color: #04aa6d
}

/* .navbar {
    position: fixed;
    background-color: #353535;
    width: 100%;
    max-height: 2.45rem;
    z-index: 1;
    margin: 0 auto;
}


.flexnav {
    display: flex;
}

.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    margin-left: 2rem;
} */


.navbar {
    background-color: #fcfcfc;
    overflow: hidden;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1030;
    height: 4rem;
}

.navbar a {
    float: left;
    color: #383434 !important;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative
}

.navbar a:hover {
    background-color: #f5f5f5;
    color: #252525 !important;
}

.navbar a:active {
    background-color: #2c92ed;
    color: #fff !important;
}

.navbar a:focus {
    background-color: #2277c2;
    color: #fff !important;
}


.profilepic {
    height: 300px;
    width: 300px;
    float: right;
    border: #6f7a7e1c 10px solid;
    border-radius: 100%;
    margin-top: 10vh;
    margin-bottom: 3vh
}

.profilepic2 {
    height: 300px;
    width: 300px;
    border: #6f7a7e1c 10px solid;
    border-radius: 100%;
    margin-left: 30px
}

.welcomemsg {
    font-weight: 200;
    font-size: 80px;
    color: #2e2e2e;
}

.imgcontainer {
    width: 300px;
    height: 300px;
    margin-right: 30px;
    float: left
}

.imgcontact {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

.zoomimg {
    height: 100%;
    width: 100%;
    zoom: 55%;
    object-fit: none;
    border-radius: 100%;
    border: #6f7a7e1c 10px solid;
    object-position: 53% 40%
}

.form-control {
    margin-bottom: 10px;
}

.homesection {
    padding-top: 2vh;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 100%
}

.sectionalt {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 100%;
    padding-bottom: 200px;
    padding-top: 40pxpx
}

.otsection {
    padding-top: 2vh;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 100%
}

label {
    font-weight: 200;
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue';
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1.25rem;
    border: 0, 5px solid #e9e9e9;
    margin-bottom: 100px
}

.nav-element {
    background: 0 0;
    border: 0;
    border-radius: 2rem;
    display: block;
    padding: .5rem 1rem;
    color: #111111ab;
    text-decoration: none
}

.nav-element.active, .show>.nav-link {
    color: #fff;
    background-color: #38b17e
}

.btn-primario {
    color: #fff;
    background-color: #04aa6d;
    border: 0;
    border-radius: 2.99rem;
    padding: .5rem 1rem;
    margin-top: 2
}

.btn-social {
    border: 0;
    border-radius: 2.99rem;
    margin-right: 5px;
    height: 55px;
    width: 55px;
    margin-top: 10px;
    margin-bottom: 10px
}

.github {
    color: #fff;
    background-color: #424242
}

.github:hover {
    color: #fff;
    background-color: #050505
}

.linkedin {
    color: #fff;
    background-color: #0a66c2
}

.linkedin:hover {
    color: #fff;
    background-color: #083b6e
}

.instagram {
    color: #fff;
    background-color: #cc4c8c
}

.instagram:hover {
    color: #fff;
    background-color: #b13774
}

.twitter {
    color: #fff;
    background-color: #4c9dcc
}

.twitter:hover {
    color: #fff;
    background-color: #2c78a5
}

.envelope {
    color: #fff;
    background-color: #0ab2a4
}

.envelope:hover {
    color: #fff;
    background-color: #0e665e
}

.p {
    text-align: center
}

.textcenter {
    text-align: center
}



@media screen and (max-width:500px) {
    .profilepic {
        height: 200px;
        width: 200px;
        float: center;
        border: #6f7a7e1c 10px solid;
        border-radius: 100%;
        margin-top: 10vh;
    }

    .profilepic2 {
        height: 200px;
        width: 200px;
        border: #6f7a7e1c 10px solid;
        border-radius: 100%;
        margin-left: 80px;
        margin-bottom: 15px
    }

    .welcomemsg {
        font-weight: 200;
        font-size: 60px;
        color: #2e2e2e
    }

    .h1, h2 {
        font-weight: 200;
        font-size: 60px;
        color: #2e2e2e;
        padding-top: 10vh
    }

    .titleproject {
        font-weight: 200;
        font-size: 40px;
        color: #2e2e2e;
        padding-top: 5rem
    }

    .bio {
        padding-top: 2vh;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        height: auto
    }

    .imgcontainer {
        width: auto;
        height: auto;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 80px;
        position: relative;
        object-position: 10%
    }

    .zoomimg {
        height: auto;
        width: auto;
        border-radius: 0%;
        border: #6f7a7e1c 10px solid
    }
}

.imessage {
    background-color: #fff;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    max-width: 60vh;
    padding: .5rem 1rem
}

.imessage p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 100%;
    padding: .5rem .875rem;
    position: relative;
    word-wrap: break-word
}

.imessage p::before, .imessage p::after {
    bottom: -.1rem;
    content: "";
    height: 1rem;
    position: absolute
}

p.from-me {
    align-self: flex-end;
    background-color: #4b4b4b;
    color: #fff
}

p.from-me::before {
    border-bottom-left-radius: .8rem .7rem;
    border-right: 1rem solid #4b4b4b;
    right: -.35rem;
    transform: translate(0, -.1rem)
}

p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: .5rem;
    right: -40px;
    transform: translate(-30px, -2px);
    width: 10px
}

p[class^="from-"] {
    margin: .5rem 0;
    width: fit-content
}

p.from-me~p.from-me {
    margin: .25rem 0 0
}

p.from-me~p.from-me:not(:last-child) {
    margin: .25rem 0 0
}

p.from-me~p.from-me:last-child {
    margin-bottom: .5rem
}

p.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000
}

p.from-them:before {
    border-bottom-right-radius: .8rem .7rem;
    border-left: 1rem solid #e5e5ea;
    left: -.35rem;
    transform: translate(0, -.1rem)
}

p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: .5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px
}

.biotext {
    margin: 10px
}

.projecttxt {
    position: relative;
    margin-top: 100px;
    font-size: 3rem
}

.skill-icon {
    width: 30px;
    height: 30px;
    margin: 7px
}

.skillproj {
    width: 100px;
    height: 100px;
    margin: 7px
}

.spaceup {
    margin-top: 20px
}

.card-img-top {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem
}