.body {
  font-family: 'Helvetica Neue';
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

p {
  font-size: 17px;
}

.primary  {
  background-color: #04aa6d;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1030;
  /* to prevent the navbar getting covered up by other content */
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #383434 !important;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(37, 37, 37) !important;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #2C92ED;
  color: white !important;
}

.navbar a:focus {
  background-color: #2C92ED;
  color: white !important;
}


/* Profile pic */
.profilepic {
  height: 300px;
  width: 300px;
  float: right;
  border: #6f7a7e1c 10px solid;
  border-radius: 100%;
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.profilepic2 {
  height: 300px;
  width: 300px;
  border: #6f7a7e1c 10px solid;
  border-radius: 100%;
  margin-left: 30px;
}


.welcomemsg {
  font-weight: 200;
  font-size: 80px;
  color: #2e2e2e;
}


.sectiontitle {
  font-weight: 200;
  font-size: 80px;
  color: #2e2e2e;
  padding-top: 5rem;
  padding-bottom: 5vh;
}

.titleproject {
  font-weight: 200;
  font-size: 65px;
  color: #2e2e2e;
  padding-top: 5rem;
}

.imgcontainer {
  width: 300px;
  height: 300px;
  margin-right: 30px;
  float: left;
}

.zoomimg {
  height: 100%;
  width: 100%;
  zoom: 55%;
  object-fit: none;
  border-radius: 100%;
  border: #6f7a7e1c 10px solid;
  object-position: 53% 40%;
  /* float: left; */
}

/* Custom class to distanciate the element */
.homesection {
  padding-top: 2vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 100%;
}

.sectionalt {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 100%;
  padding-bottom: 200px;
  padding-top: 40pxpx;
}

.otsection {
  padding-top: 2vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1.25rem;
  border: 0, 5px solid #e9e9e9;
  margin-bottom: 100px;
}


/* Navbar element */
.nav-element {
  background: 0 0;
  border: 0;
  border-radius: 2rem;
  display: block;
  padding: .5rem 1rem;
  color: #111111ab;
  text-decoration: none;
}

.nav-element.active,
.show>.nav-link {
  color: #fff;
  background-color: #38b17e;
}

a {
  color: #38b17e;
  text-decoration: underline;
}


.btn-primario {
  color: #fff;
  background-color: #04aa6d;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
  margin-top: 2;
}

.btn-social {
  border: 0;
  border-radius: 2.99rem;
  margin-right: 5px;
  height: 55px;
  width: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.github {
  color: #fff;
  background-color: #424242;

}

.github:hover {
  color: #fff;
  background-color: #050505;
}

.instagram {
  color: #fff;
  background-color: #cc4c8c;
}

.instagram:hover {
  color: #fff;
  background-color: #b13774;
}


.twitter {
  color: #fff;
  background-color: #4c9dcc;
}

.twitter:hover {
  color: #fff;
  background-color: #2c78a5;
}

.envelope {
  color: #fff;
  background-color: #0ab2a4;
}

.envelope:hover {
  color: #fff;
  background-color: #0e665e;
}

.navtext {
  font-size: smaller !important;
}

.p {
  text-align: center;
}

.textcenter {
  text-align: center;
}

/* Media rule for smartphone */
@media screen and (max-width: 500px) {
  .profilepic {
    height: 200px;
    width: 200px;
    float: center;
    border: #6f7a7e1c 10px solid;
    border-radius: 100%;
    margin-top: 10vh;
  }

  .profilepic2 {
    height: 200px;
    width: 200px;
    border: #6f7a7e1c 10px solid;
    border-radius: 100%;
    margin-left: 80px;
    margin-bottom: 15px;
  }

  .welcomemsg {
    font-weight: 200;
    font-size: 60px;
    color: #2e2e2e;
  }

  .sectiontitle {
    font-weight: 200;
    font-size: 60px;
    color: #2e2e2e;
    padding-top: 10vh;
  }

  .titleproject {
    font-weight: 200;
    font-size: 40px;
    color: #2e2e2e;
    padding-top: 5rem;
  }

  .bio {
    padding-top: 2vh;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
  }

  .imgcontainer {
    width: auto;
    height: auto;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    position: relative;
    object-position: 10%;
  }

  .zoomimg {
    height: auto;
    width: auto;
    /* zoom: 55%; */
    /* object-fit:none; */
    border-radius: 0%;
    border: #6f7a7e1c 10px solid;
    /* object-position: 53% 38%; */
  }
}

.imessage {
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 60vh;
  padding: 0.5rem 1.0rem;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 100%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  align-self: flex-end;
  background-color: #4b4b4b;
  color: #fff;
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #4b4b4b;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me~p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me~p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me~p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.biotext {
  margin: 10px;
}

.projecttxt {
  position: relative;
  margin-top: 100px;
  font-size: 3rem;
}

.skill-icon {
  width: 30px;
  height: 30px;
  margin: 7px;
}

.spaceup {
  margin-top: 20px;
}

.card-img-top {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}