.body {
  font-family: 'Helvetica Neue';
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1030; /* to prevent the navbar getting covered up by other content */
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #383434 !important;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(37, 37, 37) !important;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white !important;
}

.navbar a:focus {
  background-color: #04AA6D;
  color: white !important;
}


/* Profile pic */
.profilepic {
  /* width: 300px; */
  height: 300px;
  width: 300px;
  float: right;
  border: #6f7a7e1c 10px solid;
  border-radius: 100%;
  margin-top: 17vh;
}

.welcomemsg {
  font-weight: 200;
  font-size: 80px;
  color: #2e2e2e;
}


.sectiontitle {
  font-weight: 200;
  font-size: 80px;
  color: #2e2e2e;
  padding-top: 30vh;
}


/* Custom class to distanciate the element */
.homesection {
  padding-top: 2vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
}


.sectionspec {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}

/* Navbar element */
.nav-element {
  background: 0 0;
  border: 0;
  border-radius: 2rem;
  display: block;
  padding: .5rem 1rem;
  color: #111111ab;
  text-decoration: none;
  /* background-color: aliceblue; */
}

.nav-element.active,
.show > .nav-link {
  color: #fff;
  background-color: #38b17e;
}

a {
  color: #38b17e;
  text-decoration: underline;
}

a :active {
  color: #38b17e !important;
  text-decoration: underline;
}


.btn-primario {
  color: #fff;
  background-color: #38b17e;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
}

.btn-github {
  color: #fff;
  background-color: #424242;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
  margin: 5px;
}

.btn-github:hover {
  color: #fff;
  background-color: #050505;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
}

.btn-instagram {
  color: #fff;
  background-color: #cc4c8c;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
  margin: 5px;
}

.btn-instagram:hover {
  color: #fff;
  background-color: #b13774;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
}


.btn-twitter {
  color: #fff;
  background-color: #4c9dcc;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
  margin: 5px;
}

.btn-twitter:hover {
  color: #fff;
  background-color: #2c78a5;
  border: 0;
  border-radius: 2.99rem;
  padding: .5rem 1rem;
}

.navtext {
  font-size: smaller !important;
}

.p {
  text-align: center;
}

.textcenter {
  text-align: center;
}

/* Media rule for smartphone */
@media screen and (max-width: 500px)  {
  .profilepic {
    height: 200px;
    width: 200px;
    float: center;
    border: #6f7a7e1c 10px solid;
    border-radius: 100%;
    margin-top: 20vh;
  }

  .welcomemsg {
    font-weight: 200;
    font-size: 60px;
    color: #2e2e2e;
  }

  .sectiontitle {
    font-weight: 200;
    font-size: 60px;
    color: #2e2e2e;
    padding-top: 20vh;
  }

  .bio {
    padding-top: 2vh;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
  }
}
